body {
  background-color: #1258DC;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: Roboto;
  font-size: 1em;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
